<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="">
        <script src=""></script>
    </head>
    <body>
        {{>header}}
        <h1>{{error}}</h1>
        {{>footer}}
    </body>
</html>