<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/weather.png">
        <script src=""></script>
    </head>
    <body>
        <div class="main-content">
             {{>header}}
             <p>This is an weather-api application which forecast weather of location provided by you.
                 Node-js is used in back-end and many other npm packages are used for different purposes.
                 I hope you find this application useful.I know i have to work on front-end in this application but 
                 i made this application as a learning project for back-end using node-js.Thankyou!!
             </p>
        
        </div>
       
        {{>footer}}
    </body>
</html>