<!DOCTYPE html>
<html>
    <head>  
        <title>Help</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/weather.png">
        <script src=""></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            Fill the form given in weather page by providing the location and click on search button to get the weather 
            forecast.Thanks!
        </div>
        

        {{>footer}}
    </body>
</html>